<%- include("header") -%>

<!-- <main role="main" class="container"> -->

  <img class="mb-4 center" src="solarchickens.png" alt="" width="442" height="273">
  <h1 class="center">The sacred chickens say this effort failed!</h1>
  <h1 class="center"><%= error %></h1>

<!-- </main><!-- /.container -->

<%- include("footer") -%>
